<p>Hi, <%= current_user.email %>.</p>
<span><%= link_to "Create Draft", draft_path, method: :post %></span>
<span><%= link_to "Logout", logout_path, method: :delete %></span>

<br />
<br />

<table>
  <thead>
    <tr>
      <th>Uuid</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

